!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    - if @description
      %meta{:name => 'description', :content => @description}
    - if @keywords
      %meta{:name => 'keywords', :content => @keywords}
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %meta{:content => '', :name => 'author'}/
    %link{:href => '/bootstrap/bootstrap.css', :media => 'screen', :rel => 'stylesheet'}
    %link{:href => '/css/master.css', :media => 'screen', :rel => 'stylesheet'}
    / %link{:href => '/bootstrap/bootstrap-responsive.css', :media => 'screen', :rel => 'stylesheet'}
    /[if lte IE 6]
      %link{:rel => 'stylesheet', :href => 'http://universal-ie6-css.googlecode.com/files/ie6.1.1.css', :media =>'screen, projection'}
    /[if lt IE 9]
      %script{:src => '//html5shim.googlecode.com/svn/trunk/html5.js'}
    %link{:href => '/articles.xml', :rel => 'alternate', :type => 'application/atom+xml'}
    %link{:href => "/bootstrap/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/bootstrap/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "/bootstrap/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/bootstrap/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/

    %title= @title
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        %div{:class => container}
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} 
            = @title
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#contact"} Contact
            %p.navbar-text.pull-right
              Logged in as
              %a{:href => "#"} username

    %div{:class => container}
      = yield
      %footer
        = haml :footer, :layout => false
    .analytics
      = haml :analytics, :layout => false
